<%- include('../common/header.html')-%>

<div class="d-flex flex-column min-vh-100">

    <div class="d-flex justify-content-center align-items-center">
        <div class="col-md-6">

            <div class="card mb-4 shadow-sm text-center cursor-pointer"
                onclick="window.location.href='<%= config.BASE_URL %>admin/online'">
                <div class="card-body d-flex flex-column justify-content-center align-items-center"
                    style="height: 90px;">
                    <i class="fas fa-signal fa-2x text-success mb-2"></i> <h5 class="fw-bold mb-0">Online</h5>
                </div>
            </div>

            <div class="card mb-4 shadow-sm text-center cursor-pointer"
                onclick="window.location.href='<%= config.BASE_URL %>admin/offline'">
                <div class="card-body d-flex flex-column justify-content-center align-items-center"
                    style="height: 90px;">
                    <i class="fas fa-database fa-2x text-primary mb-2"></i> <h5 class="fw-bold mb-0">Offline</h5>
                </div>
            </div>

            <div class="card mb-4 shadow-sm text-center cursor-pointer"
                onclick="window.location.href='<%= config.BASE_URL %>admin/authentication'">
                <div class="card-body d-flex flex-column justify-content-center align-items-center"
                    style="height: 90px;">
                    <i class="fas fa-user-shield fa-2x text-warning mb-2"></i> <h5 class="fw-bold mb-0">Pre Authentication</h5>
                </div>
            </div>

            <div class="card mb-4 shadow-sm text-center cursor-pointer"
                onclick="window.location.href='<%= config.BASE_URL %>admin/settlement'">
                <div class="card-body d-flex flex-column justify-content-center align-items-center"
                    style="height: 90px;">
                    <i class="fas fa-file-invoice-dollar fa-2x text-danger mb-2"></i> <h5 class="fw-bold mb-0">Settlement</h5>
                </div>
            </div>

        </div>
    </div>

</div>

<%- include('../common/footer.html')-%>